{
  "presets": [
    ["es2015", { modules: false }],
  ],
  "plugins": [
    ["transform-react-jsx", { "pragma": "h" }],
    ["transform-object-rest-spread"]
  ],
  "env": {
    "test": {
      "presets": [
        ["es2015"],
      ]
    }
  }
}